#welcomeBox{
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    display: flex;
    color: black;
}
#welcomeBox .big{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}
#welcomeBox .small{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
#descriptBox{
    width: 100%;
    height: 200px;

}