#welcomeBox{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(47deg, rgb(16, 55, 128) 0%, rgb(52, 164, 216) 46%, rgb(234, 248, 255) 100%);
    background-attachment: fixed;
}
#descriptBox{
    width: 100%;
    height: 200px;

}