.main{
    width: 100%;
    height: 70px;
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    font-weight: 300;
    position: fixed;
    color: rgb(59, 59, 59);
    transition: top 0.3s;
    z-index: 2;
}
.link{
    height: 100%;
}
.button{
    font-family: inherit;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    width: 100px;
    text-align: center;
    height: 100%;
    line-height: 70px;
    border-style: none;
    transition: background-color 0.2s;
}
.button.unhighlighted{
    background-color: rgb(250, 250, 250);
}
.button.highlighted{
    cursor: pointer;
    background-color: rgb(229, 235, 240);
}
.logo{
    margin-left: 15px;
    height: 45px;
    width: 45px;
    background-image: url("./../public/logo.png");
    background-size: contain;
}
.logoWords{
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    height: 35px;
    line-height: 35px;
    border-color: rgb(209, 209, 209);
    font-weight: 400;
    font-family: Rajdhani, sans-serif;
    font-size: 25px;
}
.color{
    position: relative;
    bottom: 5px;
    width: 100%;
    height: 5px;
    background-color: rgb(70, 142, 224);
    transform: scale(0, 1);
    transition: transform 0.2s;
}