.uploadBox{
    height: 100vh;
    position: fixed;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formGrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}